﻿@using Project20130906.App_LocalResources.Views
@using Project20130906.Helpers
@using Project20130906.Libs.Entities
@model Project20130906.Libs.Entities.Permission
@{
    ViewBag.Title = string.Format("{0} > {1}", Permissions.ManagePermissions, Permissions.Edit);
}

<form>
    <p>@Permissions.IndexIntro</p>
    <fieldset>
        <legend>
            @Html.ActionLink(Permissions.PermissionsManagement, "index", "Permissions") &raquo;
            @Html.Raw(string.Format(Permissions.EditXPermission, I18nHelper.MenuTranslation(Model.Name))) <br/>
        </legend>
        
        <p class="row-fluid form-inline">
            <label for="add-user">@Permissions.UserToAdd</label>
            <input type="text" name="add-user" data-js="add-user" /> 
            <input data-js="lookup-user" type="button" value="@Permissions.Lookup" class="btn btn-warning" /> 
            <input data-js="assign-permission" type="button" value="@Permissions.AssignToUser" class="btn btn-primary" />
        </p>
        
        <hr />
        
        <p class="row-fluid form-inline">
            <label>@Permissions.SelectMultipleUsers</label>
            <select multiple="multiple" size="5" data-js="select-users">
                <option value="alex_wei">alex_wei</option>
                <option value="edservice">edservice</option>
                <option value="jessiedai">jessiedai</option>
                @foreach(var u in (IEnumerable<User>)ViewBag.DomainUsers){
                    <option value="@u.Id">@u.Email</option>
                }
            </select>
            <input data-js="assign-permission-multiple" type="button" value="@Permissions.AssignToUser" class="btn btn-primary" />
        </p>
        
        <hr />

        <label>@Permissions.AssignedUsers</label>
        <ul>
            @foreach (var u in Model.Users)
            {
                <li>@u.Id</li>
            }
        </ul>
        
        <a href="@Url.Action("index", "Permissions", null)" class="btn">@Permissions.BackToIndex</a>
    </fieldset>
    <input type="hidden" value="@Model.Id" data-js="model-id" />
</form>
 
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jhtmlarea")
    @Scripts.Render("~/bundles/jquery.multiselect")
    @Scripts.Render("~/bundles/bootstrap.multiselect")    
    <script type="text/javascript">

        $("[data-js='select-users']").multiselect();

        var userLookupUrl = '@Url.RouteUrl("api-user-lookup", new {httproute = ""})';
        var userAddUrl = '@Url.RouteUrl("api-user-add-permission", new {httproute = ""})';
        var usersAddUrl = '@Url.RouteUrl("api-users-add-permission", new {httproute = ""})';

        var validateUser = function(user, validCallBack, notValidCallback) {
            if (user.trim() == '') {
                notValidCallback({ "status": "error", "message": '@Permissions.InvalidUserId' });
                return;
            }

            $.ajax({
                url: userLookupUrl + '/' + user,
                type: 'GET'
            }).success(function(data) {
                if (data.status == 'success') {
                    validCallBack(data);
                } else {
                    notValidCallback(data);
                }
            });
        };


        $(document).ready(function() {
            $("[data-js=lookup-user]").click(function(e) {
                var user = $("[data-js=add-user]").val();
                if (user.indexOf('\\') >= 0) {
                    user = user.substring(user.indexOf('\\') + 1, user.length);
                }

                validateUser(user, function(data) {
                    $("[data-js=add-user]").val(data.user_id);
                    $("[data-js=add-user]").addClass("user-is-valid");

                    $(data).parseResponse();
                },
                    function(data) {
                        $("[data-js=add-user]").removeClass("user-is-valid");
                        $(data).parseResponse();
                    });
            });

            $("[data-js=assign-permission]").click(function(e) {
                var user = $("[data-js=add-user]").val();
                if (user.indexOf('\\') >= 0) {
                    user = user.substring(user.indexOf('\\') + 1, user.length);
                }

                validateUser(user,
                    function(data) {
                        console.log({
                            url: userAddUrl,
                            type: 'POST',
                            data: {
                                user_id: data.user_id,
                                email: data.email,
                                password: data.password,
                                p: $("[data-js=model-id]").val()
                            }
                        });

                        $.ajax({
                            url: userAddUrl,
                            type: 'POST',
                            data: {
                                user_id: data.user_id,
                                email: data.email,
                                password: data.password,
                                p: $("[data-js=model-id]").val()
                            }
                        }).success(function(d) {
                            if (d.status == "success") {
                                location.reload();
                                $(d).parseResponse();
                            } else {
                                $(d).parseResponse();
                            }
                        });
                    },
                    function(data) {
                        $("[data-js=add-user]").removeClass("user-is-valid");
                        $(data).parseResponse();
                    });
            });

            $("[data-js='assign-permission-multiple']").click(function() {
                var users = new Array();
                $("option[selected]", $("[data-js='select-users']")).each(function() {
                    users.push({ user_id: $(this).val(), email: $(this).html(), password:'', p: parseInt($("[data-js=model-id]").val()) });
                });

                $.ajax({
                    url: usersAddUrl,
                    type: 'POST',
                    data: JSON.stringify(users)
                }).success(function(d) {
                    if (d.status == "success") {
                        location.reload();
                        $(d).parseResponse();
                    } else {
                        $(d).parseResponse();
                    }
                });
                

            });
        });

    </script>
    }


