﻿@using Project20130906.App_LocalResources.Views
@using Project20130906.Helpers
@using Project20130906.Libs.Entities
@model IEnumerable< Project20130906.Libs.Entities.Permission>
@{

    ViewBag.Title = Permissions.PermissionsManagement;
}

<p>
    @Permissions.IndexIntro
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Permissions.Name</th>
            <th>@Permissions.Users</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Where(x => x.IsMenu))
        {
            <tr>
                <td>@I18nHelper.MenuTranslation(p.Name)</td>
                <td>
                    @if(p.Users.Any()){
                        <ul class="permission" data-permission="@p.Id">
                            @foreach (var u in p.Users)
                            {
                                <li>
                                    <label><input type="checkbox" id="@p.Id" value="" data-user="@u.Id" class="user-permission">
                                           @u.Id
                                    </label>
                                </li>
                            }
                        </ul>
                    }
                </td>
                <td>
                    <a class="btn" href="@Url.Action("edit", "permissions", new { id = @p.Id })">@Permissions.Edit</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>&nbsp;</td>
            <td><input type="button" value="@Permissions.RemoveSelectedUsers" data-js="remove-user-permission" class="btn btn-danger"/></td>
            <td>&nbsp;</td>
        </tr>
    </tfoot>
</table>


@section styles{
    <style type="text/css">
        ul.permission{ list-style: none; margin: 0px;padding: 0;}
        ul.permission li{ list-style: none;margin: 0px;padding: 0;}
    </style>
}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $("[data-js='remove-user-permission']").click(function() {
                var obj = new Array();

                $(".permission").each(function () {
                    if ($(".user-permission:checked", $(this)).length > 0) {
                        var permUl = $(this);
                        var perm = { "id": parseInt(permUl.attr("data-permission")), "users": new Array() };
                        $(".user-permission:checked", permUl).each(function () {
                            perm.users.push($(this).attr("data-user"));
                        });
                        obj.push(perm);
                    }
                });

                if(obj.length > 0){
                    $.ajax({
                        url: '@Url.RouteUrl("api-user-remove-permission", new { httproute = "" })',
                        data: JSON.stringify(obj),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8'
                    }).success(function(data) {
                        $(data).parseResponse({ url: '@Url.Action("index", "permissions", null)' });
                    });
                }
            });
        });
    </script>
}