﻿@using Project20130906.App_LocalResources.Views
@using Project20130906.Libs
@model Project20130906.Models.ViewModels.ColorCardGroupVm
@{
    ViewBag.Title = string.Format("{0} > {1}", ColorCards.ColorCardsManagement, ColorCards.EditGroup);
}

@using (Html.BeginForm("update", "colorcardgroups", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x=>x.Language)

    <fieldset>
        <legend>
            @Html.ActionLink(ColorCards.ColorCardsManagement, "index", "colorcards") &raquo; @ColorCards.EditGroup
        </legend>
        @Html.HiddenFor(model => model.Id)

        <div class="control-group warning">
            <label class="control-label">* @ColorCards.GroupName</label>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        
        <div class="control-group warning">
            <label class="control-label">* @ColorCards.GroupImage</label>
            <a href="@VirtualPathUtility.ToAbsolute(Conf.ColorCardGroupCoverImagePath+ "/" + Model.Image)" 
               target="_blank"><img src="@VirtualPathUtility.ToAbsolute(Conf.ColorCardGroupCoverImagePath + "/" + Model.ImageThumb)" /></a>
            <br/>
            <input type="file" name="cover_image" id="cover_image" />
        </div>

        <label></label>
        <input type="submit" value="@ColorCards.Save" class="btn btn-primary" />
        @Html.ActionLink(@ColorCards.BackToList, "index", "colorcards", null, new{ @class="btn"})

    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
