﻿@using Project20130906.App_LocalResources.Views
@model Project20130906.Models.ViewModels.ColorCardGroupVm
@{
    ViewBag.Title = string.Format("{0} > {1}", ColorCards.ColorCardsManagement, ColorCards.CreateGroup);
}

@using (Html.BeginForm("create", "colorcardgroups", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>
            @Html.ActionLink(ColorCards.ColorCardsManagement, "index", "colorcards") &raquo; @ColorCards.CreateGroup
        </legend>
        @Html.HiddenFor(model => model.Id)
        
        <div class="control-group warning">
            <label class="control-label">* @ColorCards.GroupName</label>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        
        <div class="control-group warning">
            <label class="control-label">* @ColorCards.GroupImage</label>
            <div class="controls">
                <input type="file" name="cover_image" id="cover_image" />
            </div>
        </div>

        <label></label>
        <input type="submit" value="@ColorCards.CreateGroup" class="btn btn-primary" />
        @Html.ActionLink(@ColorCards.BackToList, "index", "colorcards", null, new{ @class="btn"})

    </fieldset>
}