﻿@using Project20130906.App_LocalResources.Views
@model Project20130906.Models.ViewModels.NewsPostVm

    
<label>@News.Subject</label>
@Html.TextBoxFor(x=>x.Translation.Subject)
    
<label>@News.Content</label>
@Html.TextAreaFor(x=>x.Translation.Description, new { rows="44", cols="60", data_js = "rich-text-editor" })

@Html.HiddenFor(x => x.Id)
