﻿@model Project20130906.Models.ViewModels.NewsPostVm
@using Project20130906.App_LocalResources.Views
@using Project20130906.Models.ViewModels
@{
    ViewBag.Title = News.Edit;
}

@using (Html.BeginForm("update", "news", FormMethod.Post))
{
    <fieldset>
        <legend>@Html.ActionLink(News.NewsManagement, "index", "news") &raquo; @News.Edit</legend>

        @Html.AntiForgeryToken()
        @Html.Partial("_Form", Model)
    
        <div class="form-inline"><input type="submit" class="btn btn-primary" value="@News.Submit"/> 
        <a class="btn" href="@Url.Action("index", "news", null)">@News.BackToList</a></div>
        
    </fieldset>
}

@section styles
{
    @Styles.Render("~/Content/jhtmlarea/jhtmlarea")
    <style type="text/css">
        .jhtmleditor-customisation { width: 750px;height: 600px; border: 1px solid #ccc; }
    </style>
}
@section scripts
{
    @Scripts.Render("~/bundles/jhtmlarea")

}

