﻿@using Project20130906.App_LocalResources.Views
@using Project20130906.Helpers
@model IEnumerable<Project20130906.Libs.Entities.NewsPost>
@{
    ViewBag.Title = News.NewsManagement;
    var language = SessionHelper.CurrentLanguage;
}
<h3>@News.BulletinBoardContents</h3>

<form>
    <div class="well">
        @{ var top = Model.FirstOrDefault(); }
        @if (top != null) { 
        <h3>@top.GetTranslation(language).Subject</h3>
        <section>@Html.Raw(top.GetTranslation(language).Description)</section>
        <div class="text-right">
            <span>@top.CreateAt</span>
        </div>
        }
    </div>
    <table class="table table-striped">
        <thead>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            @foreach (var p in Model.Skip(1))
            {
                <tr>
                    <td class="span10">
                        <a href="@Url.Action("view", "news", new {id=p.Id})">@p.GetTranslation(language).Subject</a>
                    </td>
                    <td class="span2 text-right">@((p.CreateAt == null) ? p.ModifiedAt : p.CreateAt)</td>
                </tr>
            }
        </tbody>
    </table>
</form>

@section scripts
{
    <script type="text/javascript">
        var delUrl = '@Url.RouteUrl("api-delete-news", new { id = 0, httproute = "" })';

        $(document).ready(function () {
            $("[data-js='delete-news']").click(function () {
                if (confirm('@News.DeleteConfirm')) {
                    $.ajax({
                        url: delUrl.replace('0', $(this).attr("data-id")),
                        type: 'DELETE'
                    }).success(function (data) {
                        $(data).parseResponse();
                    });
                }
            });
        });
    </script>
}
