﻿@using Project20130906.App_LocalResources.Views
@using Project20130906.Helpers
@model Project20130906.Models.ViewModels.NewsIndexVm
@{
    ViewBag.Title = News.NewsManagement;
}
<h3>@News.BulletinBoardContents</h3>

<p>
    <a href="@Url.Action("new", "news")" class="btn btn-primary">@News.CreateNewsPost</a>
</p>
<form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@News.Subject</th>
                <th>@News.CreatedAt</th>
                <th>@News.ModifiedAt</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.NewsPosts)
            {
                <tr data-id="news_@p.Id">
                    <td><a href="@Url.Action("view", "news", new {id=p.Id})">@p.Translation.Subject</a></td>
                    <td class="span3">@p.CreateAt</td>
                    <td class="span3">@p.ModifiedAt</td>
                    <td class="span1 nowrap">
                        <a href="@Url.Action("edit", "news", new{id=@p.Id })" class="btn">@News.Edit</a>
                    </td>
                    <td class="span1 nowrap">
                        <a href="#" data-js="delete-news" data-id="@p.Id" class="btn btn-danger">@News.Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

@section scripts
{
    <script type="text/javascript">
        var delUrl = '@Url.RouteUrl("api-delete-news", new { id = 0, httproute = "" })';

        $(document).ready(function() {
            $("[data-js='delete-news']").click(function () {
                var id = $(this).attr("data-id");
                if (confirm('@News.DeleteConfirm')) {
                    $.ajax({
                        url: delUrl.replace('0', $(this).attr("data-id")),
                        type: 'DELETE'
                    }).success(function(data) {
                        $(data).parseResponse({
                            success:
                                function () {
                                    //remove
                                    $("tr[data-id='news_" + id + "']").hide('fast');
                                }
                        });
                    });
                }
            });
        });
    </script>
}
