﻿@using Project20130906.App_LocalResources.Views
@using Project20130906.Libs.Entities
@using Project20130906.Models.ViewModels
@model Project20130906.Libs.Entities.NewsPost
@{
    ViewBag.Title = News.Create;
}

@using (Html.BeginForm("create", "news", FormMethod.Post))
{
    <fieldset>
    <legend>@Html.ActionLink(News.NewsManagement, "index", "news") &raquo; @News.Create</legend>
    @Html.Partial("_Form", new NewsPostVm())
    
    <input type="submit" value="@News.Create" class="btn btn-primary"/>
        </fieldset>
}


@section styles
{
    @Styles.Render("~/Content/jhtmlarea/jhtmlarea")
    <style type="text/css">
        .jhtmleditor-customisation { width: 750px;height: 600px; border: 1px solid #ccc; }
    </style>
}
@section scripts
{
    @Scripts.Render("~/bundles/jhtmlarea")
}
