﻿@using Project20130906.App_LocalResources.Views
@using Project20130906.Helpers
@using Project20130906.Libs.Entities
@model Project20130906.Libs.Entities.NewsPost
@{
    var language = SessionHelper.CurrentLanguage;
    ViewBag.Title = string.Format("{0} > {1}", News.NewsPageTitle, Model.GetTranslation(language).Subject);
}

<h2>@Model.GetTranslation(language).Subject</h2>

<section>
    @Html.Raw(Model.GetTranslation(language).Description)
</section>
<br />  
<div class="row-fluid">
    
    <div class="span12">
        @if ((bool)ViewBag.HasEditPermission)
        {
            <a class="btn" href="@Url.Action("index", "news", null)">@News.BackToList</a>
        }
        else { 
            <a class="btn" href="@Url.Action("home", "news", null)">@News.BackToList</a>
        }
    </div>
</div>