﻿@{
    ViewBag.Title = "Install";
}

<h3>Clean and setup database from scratch</h3>

<input type="button" value="init db" data-js="init-db"/>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $("[data-js='init-db']").click(function() {
                var p = prompt("This will erase database configured in Web.config. Enter password if you are sure.", "");
                if (p != undefined && p!='') {
                    $.ajax({
                        url: '@Url.Action("CommitInstall", "WebApi", new {httproute = ""})',
                        data: { confirm: 'y', pwd: p },
                        type: 'POST'
                    }).success(function(data) {
                        if (data.status == 'success') {
                            alert('Database initialized successfully.');
                            location.href = '/';
                        }
                    });
                }
            });
        });
    </script>
}
