﻿@using System.Collections.ObjectModel
@using Project20130906.App_LocalResources.Views
@using Project20130906.Helpers
@using Project20130906.Libs
@using Project20130906.Libs.Entities
@model IEnumerable<ColorCard>

@{
    var unGrouped = new ColorCardGroup
    {
        Translations =
            new Collection<ColorCardGroupTranslation>{
                    new ColorCardGroupTranslation{ Name = @ColorCards.UnGroupedName, Language = SessionHelper.CurrentLanguage }
                },
        Id = -1
    };
    var colorCards = Model.GroupBy(x => x.Group ?? unGrouped)
                        .ToDictionary(m => m.Key, p => p.Select(x => x));
                        
    // color cards groups that does not have any color cards within.
    var emptyGroups = (IEnumerable<ColorCardGroup>) ViewData["EmptyGroups"];
    foreach (var colorCardGroup in emptyGroups)
    {
        colorCards.Add(colorCardGroup, new List<ColorCard>());
    }
    
}

<div class="accordion" id="color-cards">
    @foreach (var key in colorCards.Keys)
    {
        var isCollapsed = (key.Id == -1);
        <div class="accordion-group">
            <div class="accordion-heading">
                <div class="accordion-toggle">
                    <span>
                        <span class="icon-chevron-down"></span>
                        <a data-toggle="collapse" data-parent="#color-cards" href="#@key.GetHashCode()">
                            <span data-toggle="popover" data-hash="@key.GetHashCode()" data-js="group-image"
                                  data-placement="top" data-original-title="@key.GetTranslation(SessionHelper.CurrentLanguage).Name">@key.GetTranslation(SessionHelper.CurrentLanguage).Name</span>
                        </a>
                    </span>
                    &nbsp;
                    @if (key.Id != -1)
                    {
                        @Html.ActionLink(@ColorCards.EditGroup, "edit", "colorcardgroups", new { id = key.Id }, new { @class = "btn btn-warning btn-small" })
                        <div class="hidden" id="image-popover_@key.GetHashCode()">
                            @if (string.IsNullOrEmpty(key.ImageThumb))
                            {
                                @Html.Image(Conf.DefaultImageThumbPath)
                            }
                            else
                            {
                                @Html.Image(Conf.ColorCardGroupCoverImagePath + "/" + key.ImageThumb)
                            }
                        </div>
                    }
                </div>

            </div>
            <div id="@key.GetHashCode()" class="accordion-body collapse @((isCollapsed) ? "in" : "")">
                <div class="accordion-inner">
                    @* Accordion content *@
                    <ul class="thumbnails">
                        @foreach (var item in colorCards[key])
                        {
                            <li class="span2">
                                <div id="@item.Id" class="thumbnail">
                                    <div class="name">@item.Name</div>
                                    <div class="image">
                                        <img src="@VirtualPathUtility.ToAbsolute(Conf.ColorCardImagePath + "/" + item.ImageThumb)"  data-src="holder.js/300x200" />
                                    </div>
                                    <div class="functions">
                                        <a href="@Url.Action("edit", new { id = item.Id })" class="btn btn-small btn-warning"
                                           data-toggle="tooltip" data-placement="top" data-original-title="@ColorCards.Edit">
                                            <span class="icon-edit"></span>
                                        </a>
                                        <a href="@Url.Action("delete", new { id = item.Id })" class="btn btn-small btn-danger"
                                           data-toggle="tooltip" data-placement="top" data-original-title="@ColorCards.Delete">
                                            <span class="icon-remove"></span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
