﻿@using Project20130906.App_LocalResources.Views
@using Project20130906.Helpers
@using Project20130906.Libs
@model Project20130906.Libs.Entities.ColorCard

@{
    ViewBag.Title = @ColorCards.Delete;
}

<h3>@ColorCards.AreYouSureYouWantToDeleteThisColorCard</h3>
<fieldset>
    <legend>@Html.ActionLink(ColorCards.ColorCardsManagement, "index", "colorcards") &raquo; @ColorCards.Delete</legend>

    <h4>@Html.DisplayFor(model => model.Name)</h4>
    
    <label></label>
    <img src="@VirtualPathUtility.ToAbsolute(Conf.ColorCardImagePath + "/" + Model.Image)" />
    
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <label></label>
    <input type="submit" class="btn" value="@ColorCards.ConfirmDelete" /> <span>|</span>
        @Html.ActionLink(@ColorCards.BackToList, "index")
}
