﻿@using Project20130906.App_LocalResources.Views
@model Project20130906.Libs.Entities.ColorCard

@{
    ViewBag.Title = "Details";
}

<h3>Details</h3>

<fieldset>
    <legend>@Html.ActionLink(ColorCards.ColorCardsManagement, "index", "colorcards") &raquo; @Model.Name</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Image)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageThumb)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageThumb)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Creator.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Creator.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateAt)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
