﻿@using Project20130906.App_LocalResources.Views
@using Project20130906.Helpers
@using Project20130906.Libs
@using Project20130906.Libs.Entities
@model Project20130906.Models.ViewModels.ColorCardVm

@{
    ViewBag.Title = string.Format("{0} > {1}", ColorCards.ColorCardsManagement, ColorCards.EditColorCard);
    var allGroups = (IEnumerable<ColorCardGroup>) ViewBag.AllGroups;
}

@using (Html.BeginForm("update", "ColorCards", FormMethod.Post, new { enctype = "multipart/form-data" })) { 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Html.ActionLink(ColorCards.ColorCardsManagement, "index", "colorcards") &raquo; @ColorCards.EditColorCard</legend>

        @Html.HiddenFor(model => model.Id)
        
        <div class="control-group warning">
            <label class="control-label">* @ColorCards.Name</label>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        
        <div class="control-group">
            <label class="control-label">@ColorCards.GroupName</label>
            <select name="group">
                <option value="">-- @ColorCards.UnGroupedName --</option>
                @foreach (var g in allGroups)
                {
                    <option value="@g.Id" @((Model.CurrentGroup != null && Model.CurrentGroup.Id == g.Id) ? "selected" : "")>
                        @g.GetTranslation(SessionHelper.CurrentLanguage).Name
                    </option>
                }
            </select>
        </div>
        
        <div class="control-group warning">
            <label class="control-label">* @ColorCards.Image</label>
            <a href="@VirtualPathUtility.ToAbsolute(Conf.ColorCardImagePath + "/" + Model.Image)" 
               target="_blank"><img src="@VirtualPathUtility.ToAbsolute(Conf.ColorCardImagePath + "/" + Model.ImageThumb)" /></a>
            <br/>
            <input type="file" name="submit_image" id="submit_image" />
        </div>
        
        <div class="form-inline">
            <input type="submit" value="@ColorCards.Save" class="btn btn-primary" />
            @Html.ActionLink(@ColorCards.BackToList, "index", "ColorCards", null, new{ @class="btn"})
        </div>
        
        
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
