﻿@using System.Collections.ObjectModel
@using Project20130906.App_LocalResources.Views
@using Project20130906.Helpers
@using Project20130906.Libs
@using Project20130906.Libs.Entities
@model Project20130906.Models.ViewModels.ColorCardPageVm

@{
    ViewBag.Title = string.Format("{0} > {1}", ColorCards.ColorCardsManagement, ColorCards.Index);
}
<h3>@ColorCards.Index</h3>
<form>
    <p>
        @Html.ActionLink(@ColorCards.Create, "new", null, new { @class = "btn btn-primary" })
        &nbsp;
        @Html.ActionLink(@ColorCards.CreateGroup, "new", "colorcardgroups", null, new { @class = "btn btn-primary" })
    </p>
    
    @Html.Partial("_ColorCardAccordion", Model.ColorCards, 
        new ViewDataDictionary(new ViewDataDictionary { {"EmptyGroups", Model.EmptyGroups}}))
    
</form>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {


            initColorCardPopOver();

            $("[data-js='group-image']").twitterPopover();
            $("[data-toggle='tooltip']").bootstrapToolTip();
        });
    </script>
}
