﻿@using Project20130906.App_LocalResources.Views
@using Project20130906.Helpers
@using Project20130906.Libs.Entities
@model Project20130906.Models.ViewModels.ColorCardVm

@{
    ViewBag.Title = string.Format("{0} > {1}", ColorCards.ColorCardsManagement, ColorCards.Create);
    var allGroups = (IEnumerable<ColorCardGroup>)ViewBag.AllGroups;
}

@using (Html.BeginForm("create", "ColorCards", FormMethod.Post, new { enctype = "multipart/form-data" })) { 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Html.ActionLink(ColorCards.ColorCardsManagement, "index", "colorcards") &raquo; @ColorCards.Create</legend>

        @Html.HiddenFor(model => model.Id)
        
        <div class="control-group warning">
            <label class="control-label">* @ColorCards.Name</label>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        
        <div class="control-group">
            <label class="control-label">@ColorCards.GroupName</label>
            <select name="group">
                <option value="">-- @ColorCards.UnGroupedName --</option>
                @foreach (var g in allGroups)
                {
                    <option value="@g.Id">
                        @g.GetTranslation(SessionHelper.CurrentLanguage).Name
                    </option>
                }
            </select>
        </div>        

        <div class="control-group warning">
            <label class="control-label">* @ColorCards.Image</label>
            <div class="controls">
                <input type="file" name="submit_image" id="submit_image" />
            </div>
        </div>

        <label></label>
        <input type="submit" value="@ColorCards.Create" class="btn btn-primary" />
        @Html.ActionLink(@ColorCards.BackToList, "index", null, new{ @class="btn"})
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
