﻿@using Project20130906.Helpers
@{
    var languages = new Dictionary<string, string> { { "en-US", "English" }, { "zh-TW", "繁體中文" }, { "zh-CN", "简体中文" } };
}
<select name="language-picker" data-js="select-language">
    @foreach (var lan in languages)
    {
        <option value="@lan.Key" @Html.Raw(((SessionHelper.CurrentLanguage == lan.Key) ? "selected='selected'" : ""))>@lan.Value</option>
    }
</select>