﻿@using System.Globalization
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name.Split('-').First()">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/site")
    @Styles.Render("~/Content/bootstrap/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span12">&nbsp;</div>
            </div>
            <div class="row-fluid">
                <div class="span2">
                    <p class="site-title">
                        <a href="@Url.Action("home", "news", null)">{LOGO}</a>
                    </p>
                </div>
                <div class="span10">
                    <div class="pull-right">
                        <span class="username">@User.Identity.Name</span> @Html.Partial("_LanguagePicker")
                    </div>
                </div>
            </div>

            @Html.Partial("_Menu")

            <div id="page-error row-fluid">
                <ul>
                    <li data-js="error">@TempData["Error"]</li>
                    <li data-js="notice">@TempData["Notice"]</li>
                </ul>
            </div>
            <!-- content -->
            <div class="row-fluid">
                @RenderBody()
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span10">&nbsp;</div>
            <div class="span10">&nbsp;</div>
            <div class="span10">&nbsp;</div>
        </div>
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/site")
        
        <input type="hidden" name="language-picker-url" value="@Url.RouteUrl("api-language-preference", new { httproute="" })"/>
    
        @RenderSection("scripts", required: false)
    </body>
</html>
