﻿@using System.Collections
@using Project20130906.Helpers
@using Project20130906.Libs.Entities


@if (ViewBag.MenuItems != null && ((IList<Permission>)ViewBag.MenuItems).Count > 0 )
{
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <ul id="menu" class="nav">
                    @foreach (var m in (IList<Permission>)ViewBag.MenuItems)
                    {
                        if (!m.Route.StartsWith("#"))
                        {
                        <li><a href="@Url.RouteUrl(m.Route, new { action = "" })">@I18nHelper.MenuTranslation(m.Name)</a></li>
                        }
                        else
                        {
                        <li><a href="@Url.Action("exchange", "home", null)">@I18nHelper.MenuTranslation(m.Name)</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
}

