﻿@using System.Collections.ObjectModel
@using Project20130906.App_LocalResources.Views
@using Project20130906.Helpers
@using Project20130906.Libs
@using Project20130906.Libs.Entities
@using Project20130906.Models.ViewModels
@model IEnumerable<ColorCard>

@{
    var unGrouped = new ColorCardGroup
    {
        Translations =
            new Collection<ColorCardGroupTranslation>{
                    new ColorCardGroupTranslation{ Name = @ColorCards.UnGroupedName, Language = SessionHelper.CurrentLanguage }
                },
        Id = -1
    };
    var colorCards = Model.GroupBy(x => x.Group ?? unGrouped)
                        .ToDictionary(m => m.Key, p => p.Select(x => x));
    var selectedColorCards = (ICollection<ColorCardVm>)ViewData["SelectedColorCards"];
}
<div class="accordion" id="color-cards">
    @foreach (var key in colorCards.Keys)
    {
        var isCollapsed = (key.Id == -1);
        <div class="accordion-group">
            <div class="accordion-heading">
                <div class="accordion-toggle">
                    <label class="v-align">
                        <input type="checkbox" data-js="select-colorcard-group" data-id="@key.GetHashCode()"
                            data-toggle="tooltip" data-placement="top" data-original-title="@ColorCards.SelectAll"/>

                        <a data-toggle="collapse" data-parent="#color-cards" href="#@key.GetHashCode()">
                            <span data-toggle="popover" data-hash="@key.GetHashCode()" data-js="group-image"
                                data-placement="top" data-original-title="@key.GetTranslation(SessionHelper.CurrentLanguage).Name">@key.GetTranslation(SessionHelper.CurrentLanguage).Name</span>
                        </a>
                    </label>
                    @if (key.Id != -1)
                    {
                        <div class="hidden" id="image-popover_@key.GetHashCode()">
                            @if (string.IsNullOrEmpty(key.ImageThumb))
                            {
                                @Html.Image(Conf.DefaultImageThumbPath)
                            }
                            else
                            {
                                @Html.Image(Conf.ColorCardGroupCoverImagePath + "/" + key.ImageThumb)
                            }
                        </div>
                    }
                </div>

            </div>
            <div id="@key.GetHashCode()" class="accordion-body collapse @((isCollapsed) ? "in" : "")">
                <div class="accordion-inner">
                    @* Accordion content *@
                    <ul class="thumbnails">
                        @foreach (var item in colorCards[key])
                        {
                            <li class="span2">
                                <div id="@item.Id" class="thumbnail">
                                    <div class="name" style="margin-bottom: 5px;">
                                        <label class="v-align"><input type="checkbox" name="color_cards" value="@item.Id" 
                                                                      data-group-id="@key.GetHashCode()"
                                                                      checked="@(selectedColorCards.Any(x => x.Id == item.Id) ? "checked" : null)" />@item.Name</label>
                                    </div>
                                    <div class="image">
                                        <img src="@VirtualPathUtility.ToAbsolute(Conf.ColorCardImagePath + "/" + item.ImageThumb)"  data-src="holder.js/300x200" />
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
