﻿@using Project20130906.App_LocalResources.Views
@using Project20130906.Helpers
@using Project20130906.Libs
@model Project20130906.Models.ViewModels.ProductVm

<label>
    @Products.Categories
</label>
@Html.HiddenFor(x=>x.language)
<select name="categories" multiple="multiple" size="5" data-js="multi-select-dropdown">
@foreach (var c in Model.AllCategories)
{
    var trans = c.Translations.Any(x => x.Language == SessionHelper.CurrentLanguage) ?
                            c.Translations.FirstOrDefault(x => x.Language == SessionHelper.CurrentLanguage) :
                            c.Translations.FirstOrDefault(x => x.Language == "en-US");
    <option value="@c.Id" @(Model.CurrentCategories.Any(x=>x.Id == c.Id) ? Html.Raw("selected='selected'") : null) >
        @trans.Name
    </option>
}
</select>

<label>@Products.Image</label>
@if (File.Exists(Server.MapPath(Conf.ProductImagePath + "/" + Model.Image)))
{
    <a href="@VirtualPathUtility.ToAbsolute(Conf.ProductImagePath + "/" + Model.Image)" 
       target="_blank">@RazorHelper.DisplayImage(Conf.ProductImagePath + "/" + Model.ImageThumb)</a>
    <br/>
}
else
{
    @RazorHelper.DisplayImage(Conf.ProductImagePath + "/" + Model.ImageThumb)<br />
}
<input type="file" name="submit_image" id="submit_image" />

<div class="control-group warning">
    <label class="control-label">* @Products.Name</label>
    @Html.TextBoxFor(x=>x.Name, new { @class="" })
</div>
        
<label>@Products.ShortDescription</label>

@Html.TextAreaFor(x=>x.ShortDescription, new { @class="span5", rows="4" })
<span class="help-block ">@Products.Notice_ShortDescrpitionIsMaxTo255Chars</span>


<label>@Products.FullDescription</label>
@Html.TextAreaFor(x=>x.FullDescription, 
        new { rows="22", cols="60", data_js = "rich-text-editor" })

@*Specify Product's colorcards*@
<label>@Products.ColorCards</label>
<section id="color-cards">
    @Html.Partial("_ColorCardAccordion", Model.AllColorCards, new ViewDataDictionary { {"SelectedColorCards", Model.CurrentColorCards} } )

    <div class="clear-fix"></div>
</section>

<label>@Products.Remark</label>
@Html.TextAreaFor(x=>x.Remark, new { data_js = "rich-text-editor"})

<label></label>
<input type="hidden" id="language" name="language" value="@SessionHelper.CurrentLanguage"/>

