﻿@model Project20130906.Libs.Entities.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Product</legend>

    <label>@Html.DisplayNameFor(model => model.UpdateBy)</label>
    @Html.DisplayFor(model => model.UpdateBy)

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category.UpdatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.UpdatedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Creator.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Creator.Password)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
