﻿@using Project20130906.App_LocalResources.Views
@model Project20130906.Models.ViewModels.ProductVm

@{
    ViewBag.Title = @Products.Details;
}

<h2>@Products.Details</h2>

<fieldset>
    <legend>Product</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category.UpdatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.UpdatedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Creator.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Creator.Password)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
