﻿@using Project20130906.App_LocalResources.Views
@using Project20130906.Helpers
@model Project20130906.Models.ViewModels.ProductVm

@{
    ViewBag.Title = string.Format("{0} > {1}", Products.ProductsManagement, Products.Edit);
}


@using (Html.BeginForm("update", "products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Html.ActionLink(Products.ProductsManagement, "index", "products") &raquo; @Products.Edit</legend>

        @Html.Partial("_Form", Model)
        @Html.HiddenFor(model => model.Id)
        
        <div class="form-inline">
        <input type="submit" value="@Products.Save" class="btn btn-primary" />
        @Html.ActionLink(Products.BackToList, "index", new{ keyword = TempData["keyword"] }, new{ @class="btn"})    
        </div>
    </fieldset>
}

@section Styles{
    @Styles.Render("~/Content/jhtmlarea/jhtmlarea")
    @Styles.Render("~/Content/jQuery.multiselect")
    @Styles.Render("~/Content/bootstrap-multiselect")
    <style type="text/css">
        label{ color: #000;}
        .jhtmleditor-customisation { width: 450px;height: 100px; border: 1px solid #ccc; }
    </style>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jhtmlarea")
    @Scripts.Render("~/bundles/jquery.multiselect")
    @Scripts.Render("~/bundles/bootstrap.multiselect")
    <script type="text/javascript">
        $(document).ready(function () {
            $("[data-js='multi-select-dropdown']").multiselect();
            
            initColorCardPopOver();
            initColorCardGrpupEditor();

            $("[data-js='group-image']").twitterPopover();
        });
    </script>
}
