﻿@using System.Collections
@using System.Globalization
@using Project20130906.App_LocalResources.Views
@using Project20130906.Helpers
@using Project20130906.Libs
@using Project20130906.Libs.Entities
@model IEnumerable<Project20130906.Models.ViewModels.ProductVm>

@{
    ViewBag.Title = string.Format("{0} > {1}", Products.ProductsManagement, Products.Index);
    var categories = (IEnumerable<Category>) ViewBag.Categories;
}

<h3>@Products.Index</h3>

    <div class="row-fluid">
        <div class="span2 pull-left">
            <p>@Html.ActionLink(Products.CreateNew, "new", null, new { @class="btn btn-primary"})</p>
        </div>
        <div class="span10 pull-right">
            <form class="form-inline  pull-right">
                <label>@Products.FilterByCategory</label>
                <select name="category">
                    <option value="">-- @Products.FilterAllCategories --</option>
                    @foreach (var cat in categories)
                    {
                        <option value="@cat.Id" @((Request.Params["c"] == cat.Id.ToString(CultureInfo.InvariantCulture)) ? "selected" : "")>
                            @cat.Translations.Display(SessionHelper.CurrentLanguage).Name
                        </option>
                    }
                </select>
                &nbsp;
                <label>@Products.FilterByKeyword</label>
                <input type="text" name="keyword" value="@Request.Params["keyword"]" /> 
                <input type="button" class="btn" value="@Products.Search" data-js="search"/>
            </form>
        </div>
    </div>
<form>
    <table class="table">
        <thead>
            <tr>
                <th class="span2"></th>
                <th>
                    @Products.Name
                </th>
                <th>
                    @Products.ShortDescription
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-id="prod_@item.Id">
                    <td>
                        <a href="@Url.Action("edit", "Products", new { id = item.Id })" class="btn">
                            @RazorHelper.DisplayImage(Conf.ProductImagePath + "/" + item.ImageThumb)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortDescription)
                    </td>
                    <td class="span1 nowrap form-inline">
                        <a href="#" data-js="preview-product" data-url="http://www.example.com/#product/@item.Id" class="btn btn-mini btn-warning">@Products.Preview</a>
                        @Html.ActionLink(Products.Edit, "edit", new{ id = item.Id }, new { @class="btn" }) 
                        <a href="#" data-js="delete-product" class="btn btn-danger" data-url="@Url.RouteUrl("api-delete-product", new { id = item.Id, httproute = "" })" data-id="@item.Id">@Products.Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $("[data-js='delete-product']").click(function () {
                var id = $(this).attr("data-id");
                if (confirm('@Products.AreYouSureToDeleteProduct')) {
                    var th = $(this);
                    $.ajax({
                        url: th.attr("data-url"),
                        type: 'DELETE'
                    }).success(function(data) {
                        $(data).parseResponse({
                            success:
                                function () {
                                    //remove
                                    $("tr[data-id='prod_" + id + "']").hide('fast');
                                }
                        });
                    });
                }
            });

            $("[data-js='search']").click(function () {
                location.href = '@Url.Action("index", "products", null)' +
                    '?c=' + $("select[name='category'] :selected").val() + 
                    '&keyword=' + $("[name='keyword']").val();

            });

            $("[data-js='preview-product']").click(function() {
                window.open($(this).attr("data-url"), '@Products.Preview', 'width=850,height=650,left=370,top=150,scrollbars=yes,location=no');
            });
        });
    </script>
}


