﻿@using Project20130906.App_LocalResources.Views
@model Project20130906.Models.ViewModels.ProductVm

@{
    ViewBag.Title = string.Format("{0} > {1}", Products.ProductsManagement, Products.CreateNew);
}


@using (Html.BeginForm("create", "products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Html.ActionLink(Products.ProductsManagement, "index", "products") &raquo; @Products.CreateNew</legend>

        @Html.Partial("_Form", Model)
        
        <div class="form-inline">
            <input type="submit" value="@Products.CreateNew" class="btn btn-primary" />
            @Html.ActionLink(@Products.BackToList, "Index", null, new { @class="btn"})
        </div>
    </fieldset>
}

@section Styles{
    @Styles.Render("~/Content/jhtmlarea/jhtmlarea")
    @Styles.Render("~/Content/jQuery.multiselect")
    @Styles.Render("~/Content/bootstrap-multiselect")
    <style type="text/css">
        label{ color: #000;}
        .jhtmleditor-customisation { width: 450px;height: 100px; border: 1px solid #ccc; }
    </style>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jhtmlarea")
    @Scripts.Render("~/bundles/jquery.multiselect")
    @Scripts.Render("~/bundles/bootstrap.multiselect")
    <script type="text/javascript">
        $(document).ready(function (){
            $("[data-js='multi-select-dropdown']").multiselect();
            
            initColorCardPopOver();
            initColorCardGrpupEditor();
            
            $("[data-js='group-image']").bootstrapToolTip();
        });
    </script>
}

