﻿* {
    font-family: "微軟正黑體", "Microsoft JhengHei", serif;
}
#color-cards ul{ list-style: none;margin: 0;padding: 0; }
    #color-cards ul li{ list-style: none;display: block;float: left; margin: 10px;width: 120px;text-align: center;}
    #color-cards{ clear: left;}
#page-message ul{ margin: 0px;padding: 0px; list-style: none;  }
#page-message ul li{ margin: 0;padding: 0;display: block; }
[data-js=error] { display: none;color: red; }
[data-js=notice] { display: none;color: green; }

.clear-fix{ clear: both;}

.thumbnail{vertical-align: middle !important;}
.thumbnail {
    text-align: center;
}
.thumbnail li {display: block;text-align: center;
    float: none !important; /* to overwrite the default property on the bootstrap stylesheet */
    display: inline-block;
    *display: inline; /* ie7 support */
    zoom: 1;
}


.first-in-row { margin-left: 0 !important; }​
.media{ height: 120px; padding: 10px;border-top: 2px solid #000080;}
.cat{ display: block;padding: 5px;}

input[type='text']{ width: 300px; }

.nowrap{ white-space: nowrap;}

.white{ color: #fff;}

.functions { margin-top: 5px; }

.bold-text {
    font-weight: bold;
}

.sub-colorcard-selected {
    background-color: #eee;color: #000;
}

/** v-align checkbox field and it's label text '*/
label.v-align {
    /*display: block;
    padding-left: 15px;
    text-indent: -15px;*/
}
span.v-align input[type=checkbox],
span.v-align input[type=checkbox] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0 4px 0px 0px;
    vertical-align: bottom;
    position: relative;
    top: -3px;
    *overflow: hidden;
}