﻿@{
    ViewBag.Title = "Outlook";
}
<div class="row-fluid">
    <div class="span12">
        <iframe src="http://Exchange.web.url/" style="border:0px #FFFFFF none;" name="My iFrame" 
                scrolling="yes" frameborder="0" marginheight="0px" marginwidth="0px" height="660px" width="1150px"></iframe>
        </div>
</div>