﻿@model Project20130906.Models.ViewModels.CategoryVm
@using Project20130906.App_LocalResources.Views
@using Project20130906.Helpers
@{
    ViewBag.Title = "Edit";
    var language = SessionHelper.CurrentLanguage;
}

<h2>@Categories.CategoriesManagement</h2>

<form>
    <fieldset>
        <legend>@Categories.CategoriesManagement</legend>
        <dl>
            <dt class="req">
                <label for="name">@Categories.Name</label>
            </dt>
            <dd>
                <input name="name" value="@Model.Name" />
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="background-image">@Categories.BackgroundImage</label>
            </dt>
            <dd>
                <div id="category-background">
                    <a href="@VirtualPathUtility.ToAbsolute(Conf.CategoryBackgroundPath + "/" + Model.BackgroundImage)" target="_blank">
                        <img src="@VirtualPathUtility.ToAbsolute(Conf.CategoryBackgroundPath + "/" + Model.BackgroundImageThumb)" width="@Conf.CategoryBackgroundThumbnailSize" height="@Conf.CategoryBackgroundThumbnailSize" /></a>
                </div>
                <br /><input id="fileupload" type="file" name="file" 
                             data-url="@Url.RouteUrl("api-upload-image-category", 
                                                     new {category_id = Model.Id, controller = "WebApi", action="UploadCategoryImage", httproute = "" })">
            </dd>
        </dl>
        <dl>
            <dt></dt>
            <dd>
                <input type="button" value="update" data-js="update" /></dd>
        </dl>
    </fieldset>
    <input type="hidden" value="@Model.BackgroundImage" name="background_image_file"/>
    <input type="hidden" value="@Model.BackgroundImage" name="background_image_file_thumb"/>
    <input type="hidden" value="@Model.ParentId" name="parent_id"/>
    <input type="hidden" value="@Model.Order" name="order"/>
    <input type="hidden" value="@Model.Id" name="id"/>
    <input type="hidden" value="@SessionHelper.CurrentLanguage" name="current_language"/>
    <input type="hidden" value="" data-js="uploaded-images"/>
</form>

@section styles{
    <style type="text/css">
        #category-background{ clear: both;margin-top: 5px;display: block;}
    </style>
}

@section scripts
{
    @Scripts.Render("~/bundles/jquery.fileupload")
    <script type="text/javascript">
        $(function () {
            $("[data-js='update']").click(function () {
                $.ajax({
                    url: '@Url.RouteUrl("api-update-category", new { id=Model.Id, httproute = "" })',
                    type: 'PUT',
                    data: {
                        id: $("input[name='id']").val(),
                        name: $("input[name='name']").val(),
                        language: $("input[name='current_language']").val(),
                        order: $("input[name='order']").val(),
                        parent_id: $("input[name='parent_id']").val(),
                        background_image_file: $("input[name='background_image_file']").val(),
                        background_image_thumb_file: $("input[name='background_image_file_thumb']").val(),
                        uploaded_images: $("[data-js='uploaded-images']").val()
                    }
                }).success(function (data) {
                    $(data).parseResponse();
                });
            });
            

            // file upload
            $('#fileupload').fileupload({
                dataType: 'json',
                forceIframeTransport: !!ie,
                done: function (e, data) {
                    var file = data.result.files[0];
                    $("input[name='background_image_file']").val(file.name);
                    $("input[name='background_image_file_thumb']").val(file.name_thumb);
                    $("#category-background").html('');
                    $("[data-js='uploaded-images']").val($("[data-js='uploaded-images']").val() + "," + file.name);
                    
                    var img = $("<img />").attr('src', file.thumbnail_url)
                        .load(function() {
                            if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
                                console.log('broken image!');
                            } else {
                                var a = $("<a />").attr("href", file.url);
                                $("#category-background").append(img);
                            }
                        });
                }
            });


        });
    </script>
}
