﻿@using Project20130906.App_LocalResources.Views
@using Project20130906.Helpers
@using Project20130906.Libs
@model Project20130906.Models.ViewModels.CategoryVm

@{
    ViewBag.Title = string.Format("{0} > {1}", Categories.CategoriesManagement, Categories.Edit);
}

@using (Html.BeginForm("edit", "categories", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Html.ActionLink(Categories.CategoriesManagement, "index", "categories") &raquo; @Categories.Edit</legend>

        @Html.HiddenFor(model => model.Id)
        <input type="hidden" name="Language" value="@SessionHelper.CurrentLanguage"/>
        
        <label>@Categories.Name</label>
        @Html.TextBoxFor(x => x.Name)
        
        <label>@Categories.Slogan</label>
        @Html.TextBoxFor(x => x.Slogan)
        
        
        <label>@Categories.CoverImage</label>
        @if (File.Exists(Server.MapPath(Conf.CategoryCoverImagePath + "/" + Model.CoverImage))){
            <a href="@VirtualPathUtility.ToAbsolute(Conf.CategoryCoverImagePath + "/" + Model.CoverImage)" target="_blank"><img src="@VirtualPathUtility.ToAbsolute(Conf.CategoryCoverImagePath + "/" + Model.CoverImageThumb)" /></a>
        }else{
            <img src="@VirtualPathUtility.ToAbsolute(Conf.DefaultImageThumbPath)" />
        }
        <input type="file" name="cover_image" id="cover_image" />
        <br/>
        
        <label>@Categories.ShowSlogganImageUploadField</label>
        @if (File.Exists(Server.MapPath(Conf.CategorySloganImagePath + "/" + Model.SloganImage))){
            <a href="@VirtualPathUtility.ToAbsolute(Conf.CategorySloganImagePath + "/" + Model.SloganImage)" target="_blank"><img src="@VirtualPathUtility.ToAbsolute(Conf.CategorySloganImagePath + "/" + Model.SloganImageThumb)" /></a>
        }else{
            <img src="@VirtualPathUtility.ToAbsolute(Conf.DefaultImageThumbPath)" />
        }
        <input type="file" name="slogan_image" id="slogan_image" />
        <br/>
        
        <label>@Categories.BackgroundImage</label>
        @if (File.Exists(Server.MapPath(Conf.CategoryBackgroundPath + "/" + Model.BackgroundImage))){
            <a href="@VirtualPathUtility.ToAbsolute(Conf.CategoryBackgroundPath + "/" + Model.BackgroundImage)" target="_blank"><img src="@VirtualPathUtility.ToAbsolute(Conf.CategoryBackgroundPath + "/" + Model.BackgroundImageThumb)" /></a>
        }else{
            <img src="@VirtualPathUtility.ToAbsolute(Conf.DefaultImageThumbPath)" />
        }
        <input type="file" name="background_image" id="background_image" />
        <br/>
        
        <label>@Categories.Description</label>
        @Html.TextAreaFor(x => x.Description, new {@class = "description-text", rows = "22", cols = "60", data_js = "rich-text-editor"})
        
        <br />
        <br/>
        <div class="form-inline">
            <input type="submit" value="@Categories.Save" class="btn btn-primary" /> 
            @Html.ActionLink(Categories.BackToList, "Index", null, new { @class = "btn" })
        </div>
    </fieldset>
}

<div>
    
</div>

@section styles
{
    @Styles.Render("~/Content/jhtmlarea/jhtmlarea")
    @Styles.Render("~/Content/jQuery.multiselect")
    @Styles.Render("~/Content/bootstrap-multiselect")
    <style type="text/css">
        label{ color: #000;}
        
        .jhtmleditor-customisation { width: 650px; 
                                     height: 300px; border: 1px solid #ccc; }
    </style>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jhtmlarea")
    @Scripts.Render("~/bundles/jquery.multiselect")
    @Scripts.Render("~/bundles/bootstrap.multiselect")
    <script type="text/javascript">
        $(function () {
            $("[data-js='multi-select-dropdown']").multiselect();
        });
    </script>
}