﻿@using Project20130906.App_LocalResources.Views
@using Project20130906.Helpers
@using Project20130906.Libs
@model Project20130906.Models.ViewModels.CategoryVm

@{
    ViewBag.Title = string.Format("{0} > {1}", Categories.CategoriesManagement, Categories.Edit);
}

@using (Html.BeginForm("edit", "categories", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Html.ActionLink(Categories.CategoriesManagement, "index", "categories") &raquo; @Categories.Edit</legend>

        @Html.HiddenFor(model => model.Id)
        <input type="hidden" name="Language" value="@SessionHelper.CurrentLanguage"/>
        
        <label>@Categories.Name</label>
        @Html.TextBoxFor(x => x.Name)
        
        <label>@Categories.Slogan</label>
        @Html.TextBoxFor(x => x.Slogan)
        
        <label>@Categories.Description</label>
        @Html.TextAreaFor(x => x.Description, new {@class = "", style = "width: 350px;", rows = "4", cols = "60"})

        <label>@Categories.BackgroundImage</label>
        @if (File.Exists(Server.MapPath(Conf.CategoryBackgroundPath + "/" + Model.BackgroundImage)))
        {
            <a href="@VirtualPathUtility.ToAbsolute(Conf.CategoryBackgroundPath + "/" + Model.BackgroundImage)" target="_blank"><img src="@VirtualPathUtility.ToAbsolute(Conf.CategoryBackgroundPath + "/" + Model.BackgroundImageThumb)" /></a>
        }
        else
        {
             <img src="@VirtualPathUtility.ToAbsolute(Conf.DefaultImageThumbPath)" />
        }
        <input type="file" name="background_image" id="background_image" />
        
        
        <br />
        <br/>
        <div class="form-inline">
            <input type="submit" value="@Categories.Save" class="btn btn-primary" /> 
            @Html.ActionLink(Categories.BackToList, "Index", null, new { @class = "btn" })
        </div>
    </fieldset>
}

<div>
    
</div>

@section styles
{
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}