﻿@using System.Text
@using Project20130906.App_LocalResources.Views
@using Project20130906.Helpers
@using Project20130906.Libs
@using Project20130906.Libs.Entities
@model IEnumerable<Project20130906.Libs.Entities.Category>
@{
    ViewBag.Title = Categories.CategoriesManagement;
    var language = SessionHelper.CurrentLanguage;
}


<h3>@Categories.CategoriesManagement</h3>


<div class="row-fluid">
    <p class="span8 tips">@Categories.IndexPageIntro</p>
    <div class="span4 form-inline" style="text-align: right">
        <input type="button" class="btn btn-warning" value="@Categories.SaveOrder" data-js="save-order" />
        <a href="@Url.Action("new", "categories", null)" class="btn btn-primary">@Categories.CreateRoot</a>
    </div>
</div>

<br />
<table data-js="sortable" style="width:100%;">
    @{ var order = 0; }
    @foreach (var root in Model.Where(x => x.Parent == null).OrderBy(x=>x.Order))
    {
        <tr class="parent info" data-order="@order" id="@root.Id">
            <td>
                <table class="table">
                    <tr class="info">
                        <td class="span2 nowrap">
                            @string.Format(Categories.SortX,order++)<br />
                            <img src="@VirtualPathUtility.ToAbsolute(Conf.CategoryCoverImagePath + "/" + root.CoverImageThumb)"/>
                        </td>
                        <td>@root.GetTranslation(language).Name</td>
                        <td class="span1 nowrap">
                            <a href="@Url.Action("edit", "categories", new { id = root.Id })" class="btn">@Categories.Edit</a>
                        </td>
                        <td class="span1 nowrap">
                            <a href='#' data-js='delete' data-target='@Url.RouteUrl("api-delete-category", new { id = root.Id, httproute = "" })' class="btn">@Categories.Delete</a>
                        </td>
                    </tr>
                    @if (root.Children.Any())
                    {
                        foreach (var ch in root.Children)
                        {
                            <tr class="children" data-id="@ch.Id">
                                <td></td>
                                <td>@ch.GetTranslation(language).Name</td>
                                <td class="span1 nowrap">
                                    <a href="@Url.Action("edit", "categories", new {id = ch.Id})" class="btn">@Categories.Edit</a>
                                </td>
                                <td class="span1 nowrap">
                                    <a href='#' data-js='delete' data-target='@Url.RouteUrl("api-delete-category", new {id = ch.Id, httproute = ""})' data-id="@ch.Id" class="btn">@Categories.Delete</a>
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="3">
                            <a href="@Url.Action("new", "categories", new { parent_id = root.Id })" class="btn btn-primary">@Categories.CreateNew</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        
    }
</table>

@section styles
{
    <style type="text/css">
        #categories, #categories ul { list-style: none; margin: 0; padding: 0; }
            #categories ul li { list-style: none; margin: 0; padding: 0; }
            #categories ul li { margin-left: 20px; }
            #categories li{ display: block;clear: both;}
        .ui-state-highlight { border: 1px solid #ccc; height: 1.5em; line-height: 1.2em; }

            /*.parent th, .parent td { border-top: none;padding: none; }
            .children td, .children td{ padding: none;margin: none;}*/
    </style>

}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        $(function () {
            $("[data-js='sortable']").sortable({
                placeholder: "ui-state-highlight",
                stop: function (event, ui) {
                    var arr = $(this).sortable("toArray");
                    for (var i = 0; i < arr.length; i++) {
                        $("#" + arr[i]).attr("data-order", i);
                    }
                },
                items: ".parent",
                connectWith: ".parent"
            });
            $("[data-js='sortable']").disableSelection();


            $("[data-js='create-category']").click(function() {
                location.href = $(this).attr('data-url');
            });

            $("[data-js='save-order']").click(function () {
                var th = $(this);
                th.attr("disabled", "disabled");
                var orders = new Array();
                $("[data-js='sortable'] tr.parent").each(function () {
                    var node = $(this);
                    orders.push({ id: node.attr('id'), order: node.attr('data-order') });
                });

                $.ajax({
                    url: '@Url.RouteUrl("api-order-category", new { httproute = "" })',
                    data: JSON.stringify(orders),
                    type: 'POST'
                }).success(function (data) {
                    $(data).parseResponse();  
                }).complete(function() {
                    th.removeAttr("disabled");
                });

            });

            $("[data-js='delete']").click(function () {
                var target = $(this).attr("data-target");
                var id = $(this).attr("data-id");
                if (confirm('@Categories.ConfirmDelete')) {
                    $.ajax({
                        url: target,
                        type: 'DELETE'
                    }).success(function (data) {
                        $(data).parseResponse({
                            success:
                                function () {
                                    //remove
                                    $("tr[class='children'][data-id='" + id + "']").hide('fast');
                                }
                        });
                    });
                }
            });
        });
    </script>
}
