﻿@using Project20130906.App_LocalResources.Views
@using Project20130906.Helpers
@model Project20130906.Models.ViewModels.CategoryVm
@{
    ViewBag.Title = string.Format("{0} > {1}", Categories.CategoriesManagement,
        Categories.CreateRoot);
}

@using (Html.BeginForm("create", "categories", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Html.ActionLink(Categories.CategoriesManagement, "index", "categories") 
            &raquo; 
            @Categories.CreateRoot</legend>

        <input type="hidden" name="Language" value="@SessionHelper.CurrentLanguage"/>

        <label>@Categories.Name</label>
        @Html.TextBoxFor(x => x.Name)

        <label>@Categories.Slogan</label>
        @Html.TextBoxFor(x => x.Slogan)
        
        <label>@Categories.CoverImage</label>
        <input type="file" name="cover_image" id="cover_image" />
        
        <label>@Categories.SloganImage</label>
        <input type="file" name="slogan_image" id="slogan_image" />

        <label>@Categories.BackgroundImage</label>
        <input type="file" name="background_image" id="background_image" />

        <label>@Categories.Description</label>
        @if (Model.ParentId == null)
        {
            @Html.TextAreaFor(x => x.Description, new { @class = "description-text", rows = "22", cols = "60", data_js = "rich-text-editor" })
        }
        else
        {
            @Html.TextAreaFor(x => x.Description, new { @class = "", style = "width: 350px;", rows = "4", cols = "60" })
        }

        <input type="hidden" name="ParentId" id="ParentId" value="@Model.ParentId" />

        <br />
        <div class="form-inline">
            <input type="submit" value="@((Model.ParentId.HasValue) ? Categories.CreateNew : Categories.CreateRoot)" class="btn btn-primary" />
            @Html.ActionLink(@Categories.BackToList, "Index", null, new { @class = "btn" })
        </div>
    </fieldset>
    @Html.HiddenFor(model => model.Id)
}

@section styles
{
    @Styles.Render("~/Content/jhtmlarea/jhtmlarea")
    @Styles.Render("~/Content/jQuery.multiselect")
    @Styles.Render("~/Content/bootstrap-multiselect")
    <style type="text/css">
        label {
            color: #000;
        }

        .jhtmleditor-customisation {
            width: 650px;
            height: 300px;
            border: 1px solid #ccc;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jhtmlarea")
    @Scripts.Render("~/bundles/jquery.multiselect")
    @Scripts.Render("~/bundles/bootstrap.multiselect")
    <script type="text/javascript">
        $(function () {
            $("[data-js='multi-select-dropdown']").multiselect();
        });
    </script>
}