﻿@using Project20130906.App_LocalResources.Views
@using Project20130906.Helpers
@using Project20130906.Libs.Entities
@model Project20130906.Models.ViewModels.CategoryVm
@{
    ViewBag.Title = string.Format("{0} > {1}", 
        Categories.CategoriesManagement, Categories.CreateNew);
}

@using (Html.BeginForm("create", "categories", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>
            @Html.ActionLink(Categories.CategoriesManagement, "index", "categories") 
            &raquo; 
            @Html.Raw((Model.ParentId.HasValue) ? 
            string.Format("{0} &raquo; {1}", 
                ((Category)ViewBag.ParentCategory).Translations.Display(
                    SessionHelper.CurrentLanguage).Name, Categories.CreateNew) :
                Categories.CreateRoot)
        </legend>

        <input type="hidden" name="Language" value="@SessionHelper.CurrentLanguage"/>

        <label>@Categories.Name</label>
        @Html.TextBoxFor(x => x.Name)

        <label>@Categories.Slogan</label>
        @Html.TextBoxFor(x => x.Slogan)

        <label>@Categories.BackgroundImage</label>
        <input type="file" name="background_image" id="background_image" />

        <label>@Categories.Description</label>
        @Html.TextAreaFor(x => x.Description, new { @class = "", style = "width: 350px;", rows = "4", cols = "60" })
        

        <input type="hidden" name="ParentId" id="ParentId" value="@Model.ParentId" />

        <br />
        <div class="form-inline">
            <input type="submit" value="@((Model.ParentId.HasValue) ? Categories.CreateNew : Categories.CreateRoot)" class="btn btn-primary" />
            @Html.ActionLink(@Categories.BackToList, "Index", null, new { @class = "btn" })
        </div>
    </fieldset>
    @Html.HiddenFor(model => model.Id)
}

@section styles
{
    @Styles.Render("~/Content/jhtmlarea/jhtmlarea")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}